/* 공통 스타일 */
body {
    background-color: #EDF2F9;
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
#header {
    border-radius: 10px;
    height: 80px;
    background-color: var(--bs-info);
    min-width: 1270px;
    width: 100%;
}

/* 메인 콘텐츠 영역 */
#main-content {
    display: flex;
    width: 1534px; /* 고정 너비 */
    margin: 35px auto 0; /* 중앙 정렬 */
}

/* 사이드바 스타일 */
#side-bar {
    width: 220px;
    height: 700px;
    flex-grow: 0;
}

/* 섹션 스타일 */
#section {
    width: 1270px;
    height: 700px;
    margin-left: 44px;
}

/* 검색창 스타일 */
#search {
    height: 130px;
}

/* SR 목록 스타일 */
#sr-list {
    margin-top: 23px;
    height: 547px;
}
