body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDF2F9;
}

span {
    font-size: 18px;
    margin: 60px 0 80px 0;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.login-container {
    width: 600px;
    margin-top: 150px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 70%;
    padding: 5px;
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 0.8rem;
}

.btn {
    display: flex;
    justify-content: center;
}

#btn-login {
    width: 70%;
    padding: 3px;
    background-color: #EDF2F9;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 50px;
}

#btn-signup,
#btn-search {
    background: none;
    border: none;
    color: #6d6d6d;
    font-size: 0.8rem;
    cursor: pointer;
}

.btn {
    margin: 20px 0 45px 180px;
}

#btn-signup:hover,
#btn-search:hover {
    border: none;
    text-decoration: underline;
}

.line {
    margin: 0 0 5px 0;
}