body {
    width: 100%;
    height: 100%;
    background-color: #EDF2F9;
}


#search-box {
    width: 1270px;
}

#search-thing {
    width: 70px;
    font-size: 13px;
    font-weight: bold;
}

#search-container {
    width: 1270px;
    height: 150px;
    background-color: white;
    margin: 20px 0 0 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 10px rgba(190, 190, 190, 0.5);
    border-radius: 10px;
}

.ul-style {
    display: flex;
    margin: 30px 0 30px 0;
    padding: 0;
    gap: 95px;
    justify-content: center;
}

.li-style {
    display: flex;
    align-items: center;
    gap: 55px;
}

/* 공통 스타일 정의 (input, select, textarea) */
input, select {
    width: 120px;   
    height: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    font-size: 10px;
    padding: 0 10px 0 10px;
}

#search-dept {
    width: 280px;
}

.date-form {
    width: 130px;
}

.search-btn {
    width: 63px;
    height: 28px;
}

#search-btn {
    font-size: 12px;
    color: #4D5969;
    background-color: white;
    border: 1px solid #DCDCE1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}