body {
    width: 100%;
    height: 100%;
    background-color: #EDF2F9;
}

#chart-box {
    width: 1270px;
    height: 700px;
    margin: 0px auto;
    border-radius: 10px;
    background-color: white; 
    margin: 20px 0 0 30px;
    box-shadow: 4px 4px 10px rgba(190, 190, 190, 0.5);
}

.task-line {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #EBEBEB;
    padding: 10px 15px;
}

#title{
    font-size: 18px;
    font-weight: bold;
}

/* ---------------테이블 ---------------*/
#table-container {
    width: 1240px;
    border: 1px solid #EDF2F9;
    margin: 0px auto;
}

#mem-table {
    margin : 10px auto 0px auto;
}

.col-1 {
    width: 100px;
}
.col-2 {
    width: 100px;
}
.col-3 {
    width: 200px;
}
.col-4 {
    width: 200px;
}
.col-5 {
    width: 100px;
}
.col-6 {
    width: 100px;
}
.col-7 {
    width: 170px;
}
.col-8 {
    width: 170px;
}
.col-9 {
    width: 100px;
}

tr {
    height: 25px;
    border-bottom: 1px solid #EDF2F9;
}

td {
    font-size: 13px;
    padding: 10px 0px;
    text-align: center;
    line-height: 1;
    font-weight: 510;
}

th {
    height: 30px;
    background-color: #EDF2F9;
    padding: 10px 0px;
    font-size: 15px;
    text-align: center;
}

/* 버튼 */
.detail-btn {
    width: 50px;
    height: 25px;
    font-size: 8px;
    color: #4D5969;
    border: 1px solid #DCDCE1;
    box-shadow: 0px 1px 2px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}