/* 공통 스타일 */
body {
    background-color: #EDF2F9;
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
#header {
    border-radius: 10px;
    height: 80px;
    background-color: var(--bs-info);
    min-width: 1270px;
    width: 100%;
}

/* 메인 콘텐츠 영역 */
#main-content {
    display: flex;
    width: 1534px; /* 고정 너비 */
    margin: 35px auto 0; /* 중앙 정렬 */
    align-items: flex-start;
}

/* -------------------------------------------- */

/* 사이드바 스타일 */
#side-bar {
    padding: 23px 0 23px 15px;
    width: 220px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: auto; /* 자식 요소에 따라 높이 자동 조정 */
}

/* a 태그 기본 스타일 */
a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 텍스트 색상 상속 */
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

/* 네비게이션 아이템 스타일 */
.nav-item {
    width: 190px;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
}

/* SR 관리 링크 스타일 */
#sr-contents {
    height: 30px;
    font-size: 12px;
    font-weight: 600; 
    padding: 7px 15px;
    margin-bottom: 9px; /* 링크 사이의 간격 */
    color: #ABB5C5; /* 비활성화된 상태의 색상 */
}

/* hr 스타일 */
#sr-hr {
    flex-grow: 1;
    margin-left: 9px; /* a 태그와 hr 사이의 간격 */
    padding: 7px 15px;
    margin-top: auto;
    margin-bottom: 9px;
    border: none;
    border-top: 1px solid black; /* 상단에만 선을 적용 */
}

/* SR 요청 및 진척 조회 링크 스타일 */
#sr-request,
#sr-prg {
    width: 220px;
    height: 30px;
    font-size: 12px;
    font-weight: 600; 
    padding: 7px 15px;
    margin-bottom: 9px; /* 링크 사이의 간격 */
    color: #788596; /* 기본 색상 */
}

#sr-request:focus,
#sr-prg:focus {
    color: #3D86E7; /* 포커스 시 색상 */
}

/* 네비게이션 링크 내부 아이콘과 텍스트 정렬 */
.nav-link {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between; /* 아이콘과 텍스트 간의 간격을 유연하게 처리 */
}

/* chart 아이콘 스타일 */
.nav-link #chart {
    color: black; /* 아이콘 색상 */
    margin-right: 11px; /* 텍스트와 아이콘 사이의 간격 */
    font-size: 16px; /* 아이콘 크기 */
}

/* chevron 아이콘 스타일 */
.nav-link #chevron {
    margin-left: auto; /* chevron 아이콘을 오른쪽으로 밀어 정렬 */
    margin-right: 20px; /* 오른쪽 간격 */
}

/* -------------------------------------------- */

/* 섹션 스타일 */
#section {
    width: 1270px;
    height: 700px;
    margin-left: 44px;
}

.title {
    font-size: 15px;
    font-weight: 900;
    padding: 15px 0px 0px 15px;
}

#sr-list hr {
    margin: 6px 0px;
}

/* 검색 */
/* 공통 스타일 정의 (input, select, textarea) */
#prg-search {
    width: 130px;   
    height: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    font-size: 10px;
    padding: 0 10px;
}

#search-name {
    width: 280px;   
    height: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    font-size: 10px;
    padding: 0 10px;
}

/* 공통 스타일 정의 for .div-style, .date-style */
.div-style, .date-style {
    width: 280px;
}

#search-container {
    width: 1270px;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 10px rgba(190, 190, 190, 0.5);
    border-radius: 10px;
}

.ul-style {
    display: flex;
    margin: 30px 0 30px 30px;
    gap: 90px;
}

.li-style {
    display: flex;
    align-items: center;
    gap: 30px;
}

.first-li {
    margin-left: 30px;
}

#search-box {
    width: 1270px;
}

#search-thing {
    width: 70px;
    font-size: 13px;
    font-weight: bold;
}

#search-dept {
    width: 280px;
}

.search-btn {
    width: 63px;
    height: 28px;
}

#search-btn {
    font-size: 12px;
    color: #4D5969;
    background-color: white;
    border: 1px solid #DCDCE1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
/* -------------------------------------------- */


/* SR 목록 스타일 */
#member-list {
    margin-top: 23px;
    height: 547px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    position: relative;
}

/* 테이블 */
#table-container {
    width: 1230px;
    border: 1px solid #EDF2F9;
    margin: 0px auto;
}

.col-1 {
    width: 110px;
}
.col-2 {
    width: 140px;
}
.col-3 {
    width: 160px;
}
.col-4 {
    width: 160px;
}
.col-5 {
    width: 140px;
}
.col-6 {
    width: 140px;
}
.col-7 {
    width: 160px;
}
.col-8 {
    width: 110px;
}
.col-9 {
    width: 110px;
}

tr {
    height: 25px;
    border-bottom: 1px solid #EDF2F9;
}

td {
    font-size: 13px;
    padding: 5px 0px;
    text-align: center;
    line-height: 1;
    font-weight: 510;
}

th {
    height: 30px;
    background-color: #EDF2F9;
    padding: 10px 0px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}

/* Pagination */

#pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #F9FAFD;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.page-btn {
    width: 30px;
    height: 30px;
    display: flex;
    border: 1px solid #dee2e6;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.page-btn.active {
    color: #3D86E7;
}

.row-select{
    width: 100px !important;
    margin-left: 50px;
    padding: 2px 10px 2px 10px;
    font-size: 15px;
}

.detail-btn {
    width: 50px;
    height: 20px;
    font-size: 8px;
    color: #4D5969;
    border: 1px solid #DCDCE1;
    box-shadow: 0px 1px 2px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

/* Modal CSS */

.modal-content {
    border-radius: 3px;
    /* 테두리를 3px로 둥글게 */
}

.modal-dialog {
    width: 769px;
    height: 830px;
    max-width: 100%;
    max-height: 100%;
    /* 화면 크기에 맞춰 자동으로 조정되도록 */
}

/* 부모 컨테이너를 flex로 설정하고 가운데 정렬 */
.modal .container-fluid {
    display: flex;
    justify-content: center;
    /* 수평 가운데 정렬 */
    align-items: center;
    /* 수직 가운데 정렬 (필요할 경우) */
}

.modal .row {
    width: 653px;

}

.modal #exampleModalLabel {
    font-size: 15px;
    font-weight: 600;
    /* semibold */
}

.modal input {
    width: 193px;
    height: 31px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    margin: 12px 0px 12px 0px;
    font-size: 12px;
    /* input 안의 글씨 크기 */
    padding: 0 0 0 10px;
    line-height: 20px;
    /* 수직정렬을 위한 line-height */
}

.modal label {
    width: 95px;
    font-size: 13px;
    color: #000000;
    font-weight: 700;
}

.modal #manager {
    width: 145px;
}

.modal #manager+button {
    width: 44px;
    height: 31px;
    border-radius: 2px;
    border: 1px solid #DCDCE1;
    margin: 12px 0px 12px 0px;
    padding: 1px 2px;
}

.modal #sr-content {
    border-radius: 2px;
    width: 520px;
    height: 223px;
    border: 1px solid #DCDCE1;
    font-size: 12px;
    margin: 12px 0px 12px 0px;

}

.modal .form-row {
    display: flex;
    align-items: center;
    gap: 4px;
}

.modal #attachment,
.modal #sr-title,
.modal #related-system {
    padding-left: 10px;
    width: 520px;
    margin: 12px 0px 12px 0px;
}

.modal .form-select {
    width: 130px;
    height: 31px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    margin: 12px 0px 12px 0px;
    font-size: 12px;
}

#save-btn {
    border: 1px solid #DCDCE1;
    background-color: white;
    color: #4D5969;

    width: 63px;
    /* 버튼 너비 고정 */
    height: 28px;
    /* 버튼 높이 고정 */
    font-size: 12px;
    /* 텍스트 크기 고정 */

    display: flex;
    justify-content: center;
    /* 수평 가운데 정렬 */
    align-items: center;
    /* 수직 가운데 정렬 */
    padding: 0;
    /* 기본 padding 제거 */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.bi-x-square {
    color: #DCDCE1;
}

.close-btn {
    width: 30px !important;
    height: 30px !important;
    padding: 4px;
    border: none;
    background-color: white;
}