body {
    width: 100%;
    height: 100%;
    background-color: #EDF2F9;
}

.category {
    color: #748194;
    font-weight: bold;
    font-size: 18px;
}

.category.active {
    color: black;
}

#container {
    width: 100%;
    height: 460px;
}

#left-side {
    width: 14%;
    justify-items: right;
}

#category-box {
    height: 300px;
    border-radius: 10px;
    background-color: white;
    margin: 20px 0 0 32px;
    box-shadow: 4px 4px 10px rgba(190, 190, 190, 0.5);
}

#main-content {
    width: 100%;
}

#chart-container {  
    height: 500px;
    
}

#chart-box {
    width: 1270px;
    height: 547px;
    margin: 0px auto;
    border-radius: 10px;
    background-color: white; 
    margin: 20px 0 0 30px;
    box-shadow: 4px 4px 10px rgba(190, 190, 190, 0.5);
    padding: 15px;
}
.task-line {
    border-bottom: 2px solid #EBEBEB;
}
#title-area {
    height: 8%;
}

#chart-area {
    height: 70%;
}

.sidebar {
    width: 250px;
    background-color: #eaeef3;
    padding: 20px;
}
.hrcss{
    display: flex;
    align-items: center;
}

hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid black;
}
.h2line{
    padding: 0 25px 0 0px;
}
.myportal{
    margin-top: 10px;
}
.myportal-menu{
    margin: 25px 0 0 15px;
}
.myportal-span {
    color: #3D86E7;
    font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
}
.board{
    margin-top: 40px;
}
.board-menu{
    margin: 25px 0 0 15px;
}
.board-span{
    font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
    color: #788596;
}
.myportal-rightIcon{
    margin-left: 60px;
}
.board-rightIcon{
    margin-left: 70px;
}
.sidebar h2 {
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: bold;
    color: #ABB5C5;
}

.sidebar nav ul {
    list-style-type: none;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar h3 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}
.task-list h2 { 
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* --------------탭------------- */
.tabs-container {
    width: 100%;
    border-bottom: 2px solid #d3d7e2;
    margin-top: 15px;
}

.tb-tab {
    color: #748194;
}

.tb-tab.active {
    border-bottom: 2px solid #2C7BE5 !important;
    font-weight: bold;
}

/* ---------------테이블 ---------------*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th {
    background-color: #f2f4f6;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    text-align: center;
}

tbody td {
    font-size: 13px;
    padding: 3px 3px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.detail-btn {
    width: 50px;
    height: 20px;
    font-size: 8px;
    color: #4D5969;
    border: 1px solid #DCDCE1;
    box-shadow: 0px 1px 2px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.bottom-info {
    display: flex;
    justify-content: space-between;
}

#search-container {
    width: 1270px;
    height: 150px;
    background-color: white;
    margin: 20px 0 0 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 10px rgba(190, 190, 190, 0.5);
    border-radius: 10px;
}
.btn-box{
    display: flex;
    margin-right: 40px;
    align-items: end;
}
#search-box {
    width: 83%;
    margin-left: 20px;
}
span {
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
}

.ul-style{
    display: flex;
    margin: 30px 0 30px 0;
}
.li-style {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search-btn {
    margin-bottom: 30px;
    width: 70px;
    height: 30px;
}
.space1 {
    margin-left: 80px;
}
.select-style{
    width: 150px;
    height: 30px;
}
input{
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 10px;
}
select{
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 10px;
}
.input-style{
    width: 278px;
    height: 30px;
}
.date-form{
    height: 30px;
    width: 130px;
}
.date1{
    margin-left: 17px;
}

.space2{
    margin-left: 17px;
}
.space3{
    margin-left: 27px;
    width: 151px;
    height: 30px;
}
.title-style{
    margin-left: 8px;
}
/* ----------------------------------------------------------------------------- */
/* 사이드바 스타일 */
#side-bar {
    padding: 23px 0 0 15px;
    width: 220px;
    height: 250px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px 0 0 30px;
}

/* a 태그 기본 스타일 */
a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 텍스트 색상 상속 */
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

/* 네비게이션 아이템 스타일 */
.nav-item {
    width: 190px;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
}

/* SR 관리 링크 스타일 */
#sr-mgmt {
    width: 80px;
    height: 30px;
    font-size: 12px;
    font-weight: 600; 
    padding: 7px 15px;
    margin-bottom: 9px; /* 링크 사이의 간격 */
    color: #ABB5C5; /* 비활성화된 상태의 색상 */
}

/* hr 스타일 */
#sr-hr {
    flex-grow: 1;
    margin-left: 9px; /* a 태그와 hr 사이의 간격 */
    padding: 7px 15px;
    margin-top: auto;
    margin-bottom: 9px;
    border: none;
    border-top: 1px solid black; /* 상단에만 선을 적용 */
}

/* SR 요청 및 진척 조회 링크 스타일 */
#sr-request,
#sr-prg {
    width: 220px;
    height: 30px;
    font-size: 12px;
    font-weight: 600; 
    padding: 7px 15px;
    margin-bottom: 9px; /* 링크 사이의 간격 */
    color: #788596; /* 기본 색상 */
}

#sr-request:focus,
#sr-prg:focus {
    color: #3D86E7; /* 포커스 시 색상 */
}

/* 네비게이션 링크 내부 아이콘과 텍스트 정렬 */
.nav-link {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between; /* 아이콘과 텍스트 간의 간격을 유연하게 처리 */
}

/* chart 아이콘 스타일 */
.nav-link #chart {
    color: black; /* 아이콘 색상 */
    margin-right: 11px; /* 텍스트와 아이콘 사이의 간격 */
    font-size: 16px; /* 아이콘 크기 */
}

/* chevron 아이콘 스타일 */
.nav-link #chevron {
    margin-left: auto; /* chevron 아이콘을 오른쪽으로 밀어 정렬 */
    margin-right: 20px; /* 오른쪽 간격 */
}
